<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClJHpQIa1gatsbpXfwFaI7wZ8pIuee9Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>198394466069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easycoffeeNew</string>
	<key>PROJECT_ID</key>
	<string>easycoffee-4873f</string>
	<key>STORAGE_BUCKET</key>
	<string>easycoffee-4873f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198394466069:ios:2008697c35cbf3a407631c</string>
</dict>
</plist>